.side_bar.sidebar.left
  .app-name
    %a Simple健康管理App 3C
    = link_to destroy_user_session_path, method: :delete, class: "icon--door" do
      = icon('fas', 'door-open')
      %spcn<>
    =button_to "サイドバー非表示", root_path, class: "btn", data: {action: "toggle", side: "left"}

  .app-area
    = link_to "≫ Chart", charts_path, class: "app1"
    = link_to "≫ Calendar", calendars_path, class: "app2"
    = link_to "≫ Calorie", calories_path, class: "app3"

  .input-area
    %span 　入力画面
    - if(request.fullpath == "/charts")
      = render "main/input1"
    - if(request.fullpath == "/calendars")
      = render "main/input2"
    - if(request.fullpath == "/calories")
      = render "main/input3"
