%h2 　棒グラフ

=column_chart Chart.pluck(:date, :weight)

%table
  %thead
    %tr
      %th Name
      %th Weight
      %th Length
      %th Bmi
      %th Held at

  %tbody
    - @charts.each do |chart|
      %tr
        %td= chart.name
        %td= chart.weight
        %td= chart.length
        %td= chart.BMI
        %td= chart.date
        %td= link_to 'Show', chart
        %td= link_to 'Edit', edit_chart_path(chart)
        %td= link_to 'Destroy', chart, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Chart', new_chart_path
