= form_for @calendar do |f|
  - if @calendar.errors.any?
    #error_explanation
      %h2= "#{pluralize(@calendar.errors.count, "error")} prohibited this calendar from being saved:"
      %ul
        - @calendar.errors.full_messages.each do |message|
          %li= message

  .field
    %a 名前：
    = f.text_field :name
  %br
  .field
    %a 予定：
    = f.text_field :title
  %br
  .field
    %a 内容：
    = f.text_field :body
  %br
  .field
    %a 開始日：
    = f.date_select :start_date
  %br
  .field
    %a 終了日：
    = f.date_select :end_date
  %br
  .actions
    = f.submit '保存'
