.view
  -# %p#notice= notice
  %h1 予定詳細

  %p
    %b 名前:
    = @calendar.name
  %p
    %b 予定:
    = @calendar.title
  %p
    %b 内容:
    = @calendar.body
  %p
    %b 開始日:
    = @calendar.start_date
  %p
    %b 終了日:
    = @calendar.end_date

  = link_to '編集', edit_calendar_path(@calendar)
  \|
  = link_to '戻る', calendars_path
